* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: white;
  background-color: #3b1167;
  font-family: Lato, sans-serif;
  margin-top: 40px;
}

.aplicacion-tareas  {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tarea-lista-principal  {
  width: 600px;
  min-height: 500px;
  background-color: #d0d0d5;
  padding: 25px;
  margin: 10px;
  justify-content: center;
  border-radius: 26px;
  border: 3px solid orange;
}

h1{
  color: #1b1b32;
  font-size:25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin-top: 20px 0;
}


/*Firma */

.author {
  font-size: 25px;
  color: white;
  text-align: center;
  font-family: Share Tech Mono,monospace,sans-serif;
  margin-top: 55px;
}

.author a {
  font-size: 25px;
  text-decoration: none;
  color: #ffd900;
  line-height: 26px;
}
